{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
{% comment %} {% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %} {% endcomment %}
<style>
    .errorlist { margin-bottom: -10px }
</style>
{% comment %} <script src="{% static 'form.js' %}"></script> {% endcomment %}
<body>
    <h2>Registration Form</h2>
    <form action="" method="post" name="demoForm" id="demoForm">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}

        <div class="m-4">
            <label for="name" name="name">Name: </label>
            {{ form.name }}
            {% comment %} <input id="name" type="text" name="name" value="{{ name }}"/> {% endcomment %}
        </div>
        <div class="m-4">
            <label for="gender">Gender: </label>
            {{ form.gender }}
        </div>
        <div class="m-4">
            <label for="email" name="email" id="email">Email: </label>
            {{ form.email }}
        </div>
        <div class="m-4">
            <label for="password" name="password" id="password">Password: </label>
            {{ form.password }}
        </div>
        
       
        {% comment %} Name : {{ form.name }} 
        Email : {{ form.email }}
        Password : {{ form.password }}
        Gender : {{ form.gender }}  {% endcomment %}
          
        
        <div class="m-4">
            <button  type="submit"> Register </button>
        </div>
    </form>
    <p class="text-center">If you already have an account, <a href="/userLogin">login</a> instead.</p>
</body>

</html>